<div class="navbar">
   <div class="navbar-content" >
      <h1 class="logo-component bold">Jonathan</h1><h1 class="logo-component">Hong</h1>
      <%= link_to "Contact", '#background-container',:class => 'navbar-link'%>
      <%= link_to "Work", '#background-container',:class => 'navbar-link rmarg-5vw'%>
   </div>
</div>
<section id="top-container">
   <div class="content">
      <div class="inner-content">
         <div class="home-card">
            <p class="regular-text">Hi, my name is</p>
            <svg id='home-logo' width="570" height="75" viewBox="0 0 570 75" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M35.14 4.86001V38.32C35.14 43.5 33.67 47.49 30.73 50.29C27.8367 53.09 23.9167 54.49 18.97 54.49C13.79 54.49 9.63667 53.02 6.51001 50.08C3.38334 47.14 1.82001 42.9633 1.82001 37.55H13.72C13.72 39.6033 14.14 41.1667 14.98 42.24C15.82 43.2667 17.0333 43.78 18.62 43.78C20.0667 43.78 21.1867 43.3133 21.98 42.38C22.7733 41.4467 23.17 40.0933 23.17 38.32V4.86001H35.14Z" stroke="white" stroke-width="3"/>
            <path d="M63.9888 54.56C60.1621 54.56 56.7088 53.7433 53.6288 52.11C50.5954 50.4767 48.1921 48.1433 46.4188 45.11C44.6921 42.0767 43.8288 38.53 43.8288 34.47C43.8288 30.4567 44.7154 26.9333 46.4888 23.9C48.2621 20.82 50.6888 18.4633 53.7688 16.83C56.8488 15.1967 60.3021 14.38 64.1288 14.38C67.9554 14.38 71.4088 15.1967 74.4888 16.83C77.5688 18.4633 79.9954 20.82 81.7688 23.9C83.5421 26.9333 84.4288 30.4567 84.4288 34.47C84.4288 38.4833 83.5188 42.03 81.6988 45.11C79.9254 48.1433 77.4754 50.4767 74.3488 52.11C71.2688 53.7433 67.8154 54.56 63.9888 54.56ZM63.9888 44.2C66.2754 44.2 68.2121 43.36 69.7988 41.68C71.4321 40 72.2488 37.5967 72.2488 34.47C72.2488 31.3433 71.4554 28.94 69.8688 27.26C68.3288 25.58 66.4154 24.74 64.1288 24.74C61.7954 24.74 59.8588 25.58 58.3188 27.26C56.7788 28.8933 56.0088 31.2967 56.0088 34.47C56.0088 37.5967 56.7554 40 58.2488 41.68C59.7888 43.36 61.7021 44.2 63.9888 44.2Z" stroke="white" stroke-width="3"/>
            <path d="M115.979 14.52C120.552 14.52 124.192 16.0133 126.899 19C129.652 21.94 131.029 26 131.029 31.18V54H119.129V32.79C119.129 30.1767 118.452 28.1467 117.099 26.7C115.746 25.2533 113.926 24.53 111.639 24.53C109.352 24.53 107.532 25.2533 106.179 26.7C104.826 28.1467 104.149 30.1767 104.149 32.79V54H92.1791V14.94H104.149V20.12C105.362 18.3933 106.996 17.04 109.049 16.06C111.102 15.0333 113.412 14.52 115.979 14.52Z" stroke="white" stroke-width="3"/>
            <path d="M138.367 34.4C138.367 30.3867 139.114 26.8633 140.607 23.83C142.147 20.7967 144.224 18.4633 146.837 16.83C149.45 15.1967 152.367 14.38 155.587 14.38C158.34 14.38 160.744 14.94 162.797 16.06C164.897 17.18 166.507 18.65 167.627 20.47V14.94H179.597V54H167.627V48.47C166.46 50.29 164.827 51.76 162.727 52.88C160.674 54 158.27 54.56 155.517 54.56C152.344 54.56 149.45 53.7433 146.837 52.11C144.224 50.43 142.147 48.0733 140.607 45.04C139.114 41.96 138.367 38.4134 138.367 34.4ZM167.627 34.47C167.627 31.4833 166.787 29.1267 165.107 27.4C163.474 25.6733 161.467 24.81 159.087 24.81C156.707 24.81 154.677 25.6733 152.997 27.4C151.364 29.08 150.547 31.4133 150.547 34.4C150.547 37.3867 151.364 39.7667 152.997 41.54C154.677 43.2667 156.707 44.13 159.087 44.13C161.467 44.13 163.474 43.2667 165.107 41.54C166.787 39.8133 167.627 37.4567 167.627 34.47Z" stroke="white" stroke-width="3"/>
            <path d="M211.427 43.85V54H205.337C200.997 54 197.613 52.95 195.187 50.85C192.76 48.7033 191.547 45.2267 191.547 40.42V24.88H186.787V14.94H191.547V5.42001H203.517V14.94H211.357V24.88H203.517V40.56C203.517 41.7267 203.797 42.5667 204.357 43.08C204.917 43.5934 205.85 43.85 207.157 43.85H211.427Z" stroke="white" stroke-width="3"/>
            <path d="M243.504 14.52C247.984 14.52 251.578 16.0133 254.284 19C256.991 21.94 258.344 26 258.344 31.18V54H246.444V32.79C246.444 30.1767 245.768 28.1467 244.414 26.7C243.061 25.2533 241.241 24.53 238.954 24.53C236.668 24.53 234.848 25.2533 233.494 26.7C232.141 28.1467 231.464 30.1767 231.464 32.79V54H219.494V2.20001H231.464V20.19C232.678 18.4633 234.334 17.0867 236.434 16.06C238.534 15.0333 240.891 14.52 243.504 14.52Z" stroke="white" stroke-width="3"/>
            <path d="M265.682 34.4C265.682 30.3867 266.429 26.8633 267.922 23.83C269.462 20.7967 271.539 18.4633 274.152 16.83C276.766 15.1967 279.682 14.38 282.902 14.38C285.656 14.38 288.059 14.94 290.112 16.06C292.212 17.18 293.822 18.65 294.942 20.47V14.94H306.912V54H294.942V48.47C293.776 50.29 292.142 51.76 290.042 52.88C287.989 54 285.586 54.56 282.832 54.56C279.659 54.56 276.766 53.7433 274.152 52.11C271.539 50.43 269.462 48.0733 267.922 45.04C266.429 41.96 265.682 38.4134 265.682 34.4ZM294.942 34.47C294.942 31.4833 294.102 29.1267 292.422 27.4C290.789 25.6733 288.782 24.81 286.402 24.81C284.022 24.81 281.992 25.6733 280.312 27.4C278.679 29.08 277.862 31.4133 277.862 34.4C277.862 37.3867 278.679 39.7667 280.312 41.54C281.992 43.2667 284.022 44.13 286.402 44.13C288.782 44.13 290.789 43.2667 292.422 41.54C294.102 39.8133 294.942 37.4567 294.942 34.47Z" stroke="white" stroke-width="3"/>
            <path d="M340.772 14.52C345.345 14.52 348.985 16.0133 351.692 19C354.445 21.94 355.822 26 355.822 31.18V54H343.922V32.79C343.922 30.1767 343.245 28.1467 341.892 26.7C340.539 25.2533 338.719 24.53 336.432 24.53C334.145 24.53 332.325 25.2533 330.972 26.7C329.619 28.1467 328.942 30.1767 328.942 32.79V54H316.972V14.94H328.942V20.12C330.155 18.3933 331.789 17.04 333.842 16.06C335.895 15.0333 338.205 14.52 340.772 14.52Z" stroke="white" stroke-width="3"/>
            <path d="M424.334 4.86001V54H412.364V33.77H393.744V54H381.774V4.86001H393.744V24.11H412.364V4.86001H424.334Z" stroke="white" stroke-width="3"/>
            <path d="M452.155 54.56C448.328 54.56 444.875 53.7433 441.795 52.11C438.762 50.4767 436.358 48.1433 434.585 45.11C432.858 42.0767 431.995 38.53 431.995 34.47C431.995 30.4567 432.882 26.9333 434.655 23.9C436.428 20.82 438.855 18.4633 441.935 16.83C445.015 15.1967 448.468 14.38 452.295 14.38C456.122 14.38 459.575 15.1967 462.655 16.83C465.735 18.4633 468.162 20.82 469.935 23.9C471.708 26.9333 472.595 30.4567 472.595 34.47C472.595 38.4833 471.685 42.03 469.865 45.11C468.092 48.1433 465.642 50.4767 462.515 52.11C459.435 53.7433 455.982 54.56 452.155 54.56ZM452.155 44.2C454.442 44.2 456.378 43.36 457.965 41.68C459.598 40 460.415 37.5967 460.415 34.47C460.415 31.3433 459.622 28.94 458.035 27.26C456.495 25.58 454.582 24.74 452.295 24.74C449.962 24.74 448.025 25.58 446.485 27.26C444.945 28.8933 444.175 31.2967 444.175 34.47C444.175 37.5967 444.922 40 446.415 41.68C447.955 43.36 449.868 44.2 452.155 44.2Z" stroke="white" stroke-width="3"/>
            <path d="M504.145 14.52C508.719 14.52 512.359 16.0133 515.065 19C517.819 21.94 519.195 26 519.195 31.18V54H507.295V32.79C507.295 30.1767 506.619 28.1467 505.265 26.7C503.912 25.2533 502.092 24.53 499.805 24.53C497.519 24.53 495.699 25.2533 494.345 26.7C492.992 28.1467 492.315 30.1767 492.315 32.79V54H480.345V14.94H492.315V20.12C493.529 18.3933 495.162 17.04 497.215 16.06C499.269 15.0333 501.579 14.52 504.145 14.52Z" stroke="white" stroke-width="3"/>
            <path d="M543.753 14.38C546.507 14.38 548.91 14.94 550.963 16.06C553.063 17.18 554.673 18.65 555.793 20.47V14.94H567.763V53.93C567.763 57.5233 567.04 60.7667 565.593 63.66C564.193 66.6 562.023 68.9334 559.083 70.66C556.19 72.3867 552.573 73.25 548.233 73.25C542.447 73.25 537.757 71.8734 534.163 69.12C530.57 66.4134 528.517 62.7267 528.003 58.06H539.833C540.207 59.5533 541.093 60.72 542.493 61.56C543.893 62.4467 545.62 62.89 547.673 62.89C550.147 62.89 552.107 62.1667 553.553 60.72C555.047 59.32 555.793 57.0567 555.793 53.93V48.4C554.627 50.22 553.017 51.7133 550.963 52.88C548.91 54 546.507 54.56 543.753 54.56C540.533 54.56 537.617 53.7433 535.003 52.11C532.39 50.43 530.313 48.0733 528.773 45.04C527.28 41.96 526.533 38.4134 526.533 34.4C526.533 30.3867 527.28 26.8633 528.773 23.83C530.313 20.7967 532.39 18.4633 535.003 16.83C537.617 15.1967 540.533 14.38 543.753 14.38ZM555.793 34.47C555.793 31.4833 554.953 29.1267 553.273 27.4C551.64 25.6733 549.633 24.81 547.253 24.81C544.873 24.81 542.843 25.6733 541.163 27.4C539.53 29.08 538.713 31.4133 538.713 34.4C538.713 37.3867 539.53 39.7667 541.163 41.54C542.843 43.2667 544.873 44.13 547.253 44.13C549.633 44.13 551.64 43.2667 553.273 41.54C554.953 39.8133 555.793 37.4567 555.793 34.47Z" stroke="white" stroke-width="3"/>
            </svg>
            <p class="sub-text">A full stack software engineer focused on building seamless interfaces and improving user experiences.</p>
            <div class="fadeIn"><%= link_to 'https://www.dropbox.com/s/49f5ijvto0dq63s/Jonathan%20Hong%20Resume.pdf?dl=0', :target => '_blank', :class => 'resume' do%>
            <%= image_tag('resume.svg', :class => 'resume_img')%> <p>View my resume</p>
            <% end %>
            </div>
         </div>
         <%= image_tag 'home-visual.svg', :class => 'home-visual'%>
      </div>
   </div>
</section>


<section id='background-container'>
   <div class='content'>
      <div class='inner-content-background'>
         <div class='about-card'>
            <h1 class='section-title'>About Me</h1>
            <p class="sub-text width-30vw profile-desc">Hello, I’m Jonathan, a software engineer based in New Brunswick, NJ. I’m expecting to graduate from Rutgers University School of Engineering in May of 2020, pursuing a Bachelor of Science in Computer Engineering with a minor in Computer Science.</p>
         </div>
         <%= image_tag 'jon.png', :class => 'profile-visual'%>         
      </div>
   </div>
</section>
<div id='modal'>

</div>
<section id='projects-container'>
   <div class='content content-center'>
      <h1 class='projects-title'>Projects</h1>
      <div id='project-grid'>
         <div class='project-card'>

         </div>
         <div class='project-card'>

         </div>
         <div class='project-card'>

         </div>
         <div class='project-card'>

         </div>
         <div class='project-card'>

         </div>
      </div>
   </div>
</section>

<section id='contact-container'>
<%= render 'contact-form' %>
</section>

<footer id='footer'>
   
</footer>